# Covariance and Correlation

In [1]:
import numpy as np
import pandas as pd
import pandas_datareader.data as web
import matplotlib.pyplot as plt
%matplotlib inline

/Users/dennismacpro/miniconda3/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
tickers = ['PG','BEI.DE']

sector_data = pd.DataFrame()

for ticker in tickers:
    sector_data[ticker] = web.DataReader(ticker,
                                        data_source='yahoo',
                                        start='2007-1-1')["Adj Close"]
sector_data.head()

                   PG     BEI.DE
Date
2007-01-03  43.147480  39.576427
2007-01-04  42.819897  39.836281
2007-01-05  42.452206  39.017349
2007-01-08  42.545799  39.025219
2007-01-09  42.438835  38.143303

In [3]:
sector_returns = np.log(sector_data/sector_data.shift(1))

In [4]:
sector_returns.head()

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858

In [5]:
covariance_matrix = sector_returns.cov()
covariance_matrix

              PG    BEI.DE
PG      0.000143  0.000045
BEI.DE  0.000045  0.000190

In [7]:
annualized_covariance_matrix = sector_returns.cov() *250
annualized_covariance_matrix

              PG    BEI.DE
PG      0.035736  0.011286
BEI.DE  0.011286  0.047530

In [8]:
# Pandas dataframe corr
correlation_matrix = sector_returns.corr()
correlation_matrix

              PG    BEI.DE
PG      1.000000  0.273477
BEI.DE  0.273477  1.000000

#### This is the correlation between returns not price

Corr(returns)

Reflects the depedence between prices at different times and focuses no the returns of your portfolio

Corr(prices)

Focues on the stock price levels


# Don't fall into the trap of annualizing the correlation table